<footer class="footer">
    <div class="footer__content">
      <h2 class="footer__logo">DIEM</h2>
  
      <nav class="footer__nav">
        <a href="#" class="footer__link">Inicio</a>
        <a href="#" class="footer__link">Tienda</a>
        <a href="#" class="footer__link">Nosotros</a>
        <a href="#" class="footer__link">Contacto</a>
      </nav>
  
      <div class="footer__social">
        <a href="#" class="footer__social-icon">IG</a>
        <a href="#" class="footer__social-icon">FB</a>
        <a href="#" class="footer__social-icon">TW</a>
      </div>
    </div>
  
    <div class="footer__bottom">
      <p>&copy; {{ currentYear }} DIEM. Todos los derechos reservados.</p>
    </div>
  </footer>
  
